body{
    margin: 0%;
    box-sizing: border-box;
    padding: 0%;
    font-family: 'Comfortaa', cursive;
    background-color: rgba(0, 0, 0, 0.93);
    div.header{
        background-image:
        linear-gradient(to bottom, rgba(0, 0, 0, 0.61), #111111),
        url('../img/main2.jpg');
        height: 100vh;
        background-size: cover;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        div.header__action button{
            padding: 1.3rem;
            background-color: rgb(26, 80, 161);
            border: none;
            text-transform: uppercase;
            transition: 0.5s all;
            color: white;
        }
        div.header__action button:hover{
            cursor: pointer;
            box-shadow: 4px 4px 30px inset rgb(7, 37, 82);
        }
        div.header__text{
            margin-top: 10%;
        }
        div.header__text p:nth-child(1){
            font-size: 30px;
            font-weight: 900;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
        }
        div.header__text p:nth-child(2){
            font-size: 15px;
            font-weight: 900;
            color: rgb(255, 255, 255);
            text-transform: uppercase;
        }
        div.header__menu{
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            top: 0%;
            position: fixed;
            transition: 0.6s all;
            width: 100%;
            padding-left: 40px;
            padding-right: 40px;
            z-index: 10;
            background-color: black;
            ul.container{
                width: 80%;
                margin-left: auto;
                margin-right: auto;
                text-align: center;
            }
        }
        div.header__menu ul li{
            list-style: none;
            align-self: center;
            display: inline-block;
            margin-left: 55px;
            margin-right: 55px;
           
        }
        div.header__menu ul{
            margin-top: 16px;
            text-align: center;
        }
        div.header__menu ul li a{
            text-decoration: none;
            color: white;
            text-transform: uppercase;
            transition: 0.5s all;
        }
        div.header__menu ul li a.active{
            color:#188de0;
        }
        div.header__menu ul li:hover a{
            color: #188de0;
        }
    }
    div.main{
        ul li.card{
           list-style: none;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.616);
            padding: 1rem;
            margin-top: 4rem;
            // border-radius: 12px;
            text-align: left;
            color: aliceblue;
        }
    }
    .container{
        width: 70%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    div.footer{
        background-color: black;
        color: white;
        padding: 0.5rem;
        text-align: center;
        p{
            margin: 0%;
            font-size: 12px;
        }
    }
    div.modalwindow{
        display: none;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.863);
        position: absolute;
        top: 0%;
        height: 100%;
        div.modalwindow__inner{
        background-color: rgba(255, 255, 255, 0.93);
        display: block;
        width: 40%;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
        border-radius: 12px;
        padding: 1rem;
        margin-top: 10%;
        input[type=text]{
            border-radius: 4px;
            padding: 0.5rem;
            border: none;
            width: 30%;
        }
        textarea{
            border-radius: 4px;
            border: none;
            margin-top: 20px;
            width: 30%;
        }
        input[type=submit]{
            padding: 1rem;
            background-color: rgb(26, 80, 161);
            border: none;
            text-transform: uppercase;
            transition: 0.4s all;
            color: white;
        }
        input[type=submit]:hover{
            cursor: pointer;
            box-shadow: 4px 4px 30px inset rgb(13, 56, 121);
        }
        }
        
    }
}