body {
  margin: 0%;
  box-sizing: border-box;
  padding: 0%;
  font-family: 'Comfortaa', cursive;
  background-color: rgba(0, 0, 0, 0.93);
}

body div.header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

body div.header div.header__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  top: 0%;
  position: fixed;
  transition: 0.6s all;
  width: 100%;
  padding-left: 40px;
  padding-right: 40px;
  z-index: 10;
  background-color: black;
}

body div.header div.header__menu ul.container {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body div.header div.header__menu ul li {
  list-style: none;
  align-self: center;
  display: inline-block;
  margin-left: 55px;
  margin-right: 55px;
}

body div.header div.header__menu ul {
  margin-top: 16px;
  text-align: center;
}

body div.header div.header__menu ul li a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  transition: 0.5s all;
}

body div.header div.header__menu ul li a.active {
  color: #188de0;
}

body div.header div.header__menu ul li:hover a {
  color: #188de0;
}

body div.header div.header__sidebar {
  display: block;
  position: absolute;
  top: 10%;
  color: white;
  left: 0%;
}

body div.header div.header__sidebar li {
  list-style: none;
  margin-top: 5px;
  padding: 10px;
}

body div.header div.header__sidebar li a {
  text-decoration: none;
  color: white;
}

body div.header div.header__sidebar li:hover a::before {
  content: '';
  display: block;
  width: 10px;
  height: 10px;
  background-color: #188de0;
  left: 20px;
  position: absolute;
}

body div.main div.main__about {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1rem;
  color: white;
  text-align: left;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.616);
}

body div.main div.main__news, body div.main div.main__activity, body div.main div.main__organiz {
  margin-top: 4rem;
  margin-bottom: 4rem;
  padding: 1rem;
  color: white;
  text-align: left;
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.616);
}

body div.main div.main__news img, body div.main div.main__activity img, body div.main div.main__organiz img {
  width: 100%;
}

body .container {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

body div.footer {
  background-color: black;
  color: white;
  padding: 0.5rem;
  text-align: center;
}

body div.footer p {
  margin: 0%;
  font-size: 12px;
}
